<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dealer Registration</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
</head>


  <!-- Preloader -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading Goods....</span>
    </div>
  </div>
  <!-- Preloader -->


  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="index.html" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
      <h2 class=" nav-h">Goods Transportation System</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a href="index.html" class="nav-item nav-link active">Home</a>
        <a href="contact.html" class="nav-item nav-link">Contact Us</a>
      </div>
      <label class="dropdown">

        <div class="dd-button">
          Register/Login
        </div>

        <input type="checkbox" class="dd-input" id="test">

        <ul class="dd-menu">
          <li style="background-color: rgb(226, 21, 21); color: white;"> <a href="dealer-register.html">
              Dealer </a> </li>
          <li> <a href="driver-register.html"> Driver </a> </li>
        </ul>

      </label>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Form start -->

  <div class="admin">

    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="/dealer_register" method="POST">
          <h1>Registration</h1>
          <br>
          <input type="email" class="form-control" placeholder="Email" name="username" required>
          <input type="password" class="form-control" placeholder="Password" name="password" required>
          <button><a style="color: rgb(255, 255, 255);">Register</a></button>
        </form>
      </div>
      <div class="form-container sign-in-container1">
        <form action="/dealer_login" method="POST">
          <h1>Login</h1>
          <br>
          <input type="email" class="form-control" name="username" placeholder="Email" required>
          <input type="password" class="form-control" name="password" placeholder="Password" required>

          <a href="/login_otp" style="font-size: 15px; margin: 1rem;">Login With Otp</a>
          <button><a style="color: cornsilk;">Login</a></button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Dealer Login</h1>
            <p>Already registered? Login now!</p>
            <button class="ghost" id="signIn">Click to Register</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Dealer Registration</h1>
            <p>New user? Register to Transportation System</p>
            <button class="ghost" id="signUp">Click to Login</button>
          </div>
        </div>
      </div>
    </div>









  </div>


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
  <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });
  </script>

</body>

</html>